.header {
  display: flex;
  justify-content: space-between;
  background: #070484;
  color: #fff;
  margin: 0;
  padding: 0;
}

.headerBrand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  padding-left: 1.5em;
  transition: all 0.5s ease-in;
}

.headerBrandName {
  font-size: 1.2em;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

.nav {
  display: none;
  padding: 0;
  margin: 0;
}

.nav ul {
  display: flex;
  vertical-align: middle;
  align-items: center;
  list-style: none;
  padding-right: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
}

.nav ul li {
  font-size: 1.5em;
  padding-right: 2em;
}

.headerCourseButton {
  font-family: 'Amiko', sans-serif;
  font-size: 1.5em;
  height: 2.5em;
  background-color: #070484;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
}

.hamburgerButton {
  padding: 1em;
}

.menuIcon {
  cursor: pointer;
  color: #fff;
  width: 2em;
}

.mobileNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #070484;
  color: #fff;
  margin: 0;
  padding: 0;
}

.mobileNav ul {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
  list-style: none;
  padding-right: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .headerBrandName {
    font-size: 3.2em;
    padding-left: 0;
    margin: 0;
  }

  .headerBrand {
    display: flex;
    flex-direction: row;
    padding-left: 3.5em;
  }

  .nav {
    display: flex;
  }

  .hamburgerButton {
    display: none;
  }

  .mobileNav {
    display: none;
  }
}
